<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234043257616-m7jg91vltrb3pbgi2ctfk27rantsl0fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234043257616-m7jg91vltrb3pbgi2ctfk27rantsl0fh</string>
	<key>API_KEY</key>
	<string>AIzaSyDejjBdzUB8pATNpCA2qFRc0NLTIBsZ6Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>234043257616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.difft.chative</string>
	<key>PROJECT_ID</key>
	<string>chative-33aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>chative-33aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234043257616:ios:e71fefa050df57a5f5ab95</string>
</dict>
</plist>